<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DefaultDS_DeviceComPort" value="COM3"/>
    <add key="DefaultDS_EnginePorts" value="3"/>
    <add key="DefaultDS_EngineStepAngle" value="385"/>
    <add key="DefaultDS_EngineStepSonarPartAngle" value="178"/>
    <add key="DefaultDS_EngineStepPower" value="25"/>
    <add key="DefaultDS_ManipulatorMaxAngle" value="250"/>
    <add key="DefaultDS_ManipulatorPort" value="4"/>
    <add key="DefaultDS_ManipulatorPower" value="10"/>
    <add key="DefaultDS_SonarPort" value="4"/>
    <add key="DefaultDS_MaxBlockDistance" value="14"/>
    <add key="DefaultDS_MinBlockDistance" value="5"/>
    <add key="DefaultDS_BlockWidth" value="3"/>
    <add key="DefaultDS_BlockWidthAngle" value="60"/>
    <add key="DefaultDS_LeftTouchPort" value="3"/>
    <add key="DefaultDS_RightTouchPort" value="2"/>
    <add key="DefaultDS_LeftManipulatorDirectionKoef" value="0,995"/>
    <add key="DefaultDS_RightManipulatorDirectionKoef" value="0,935"/>
    <add key="DefaultCS_BlocksCount" value="10"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
